<p><b>Username:</b> <%= @user.username %>
  <span>
    <%= link_to "Delete User", user_path(@user), method: :delete, class:'btn delete-btn float-right', data: {confirm: "Are you sure?"} %>
  </span>
</p>
<p><b>Created at:</b> <%= @user.created_at %></p>
