@import 'bootstrap';

.header {
  background-color: black;
  height: 100px;
}

.title {
  font-weight: 900;
  color: white;
}

.btn {
  font-size: 125%;
  font-weight: 700;
}

.card-title {
  font-size: 125%;
  font-weight: 700;
}

.card-text {

}

body {

}
