@import 'bootstrap';

.header {
  background-color: black;
  height: 100px;
}

.title {
  font-weight: 900;
  color: white !important;
  padding: 0px;
  font-size: 250%;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submit {
  font-size: 125%;
  font-weight: 700;
}

.card-title {
  font-size: 125%;
  font-weight: 700;
}

.card-text {

}

body {

}
