<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li class="header">
      <div class='container'>
        <h1 class='title'>POLL DANCER 💃</h1>
      </div>
    </li>

    <br>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
